mixin unstickyCard(...actions)
  .aa-card-wide.mdl-card.mdl-card--border.mdl-shadow--2dp
    .mdl-card__title(class=attributes.class)
      h2.mdl-card__text-title= attributes.title
    if attributes.text
      .mdl-card__supporting-text= attributes.text
    if actions
      .mdl-card__actions
        each action in actions
          a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href=attributes.href)= action
      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href=attributes.hrefStick) Sticky this
