extends ../layout

block vars
  - var title='📓🐊 - Course'

block content
  if snackbar
    +info(__('courseAdd.snackbarMessage'), 'undo', 'undo')
  h1.display-4.aa-title= __('courseList.title')
  form.aa-formlink(action='course/add')
          button(type='submit').mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
            i.material-icons add
  form(action='search', method='get')
    input(type='hidden' name='_csrf' value=_csrf)
    +textfield('query', 'query')
    span year
    select(name='year')
      option all
      each year in years
        option= year
    span period
    select(name='period')
      option all
      each period in periods
        option= period
    +submit('Search')
  if search
    h2 Search results
    .aa-course-list-cards
    each course in courses
        if printToggle
          if course.sticky
            +stickyCard(__('courseList.cardAction.gotoDetail'))(hrefStick=`/course/${course.code}/unsticky`, href=`/course/${course.code}`,title=course.name, text=`${course.code} / ${course.year} / ${course.period}`, class=course.category.image)
          else
            +unstickyCard(__('courseList.cardAction.gotoDetail'))(hrefStick=`/course/${course.code}/sticky`, href=`/course/${course.code}`,title=course.name, text=`${course.code} / ${course.year} / ${course.period}`, class=course.category.image)
        else
          +card(__('courseList.cardAction.gotoDetail'))(href=`/course/${course.code}`,title=course.name, text=`${course.code} / ${course.year} / ${course.period}`, class=course.category.image)
  else
    h2 Stickied courses
    .aa-course-list-cards
      each course in stickyCourses
        +card(__('courseList.cardAction.gotoDetail'))(href=`/course/${course.code}`,title=course.name, text=`${course.code} / ${course.year} / ${course.period}`, class=course.category.image)
    h2 All courses
    .aa-course-list-cards
      each course in courses
        if printToggle
          if course.sticky
            +stickyCard(__('courseList.cardAction.gotoDetail'))(hrefStick=`/course/${course.code}/unsticky`, href=`/course/${course.code}`,title=course.name, text=`${course.code} / ${course.year} / ${course.period}`, class=course.category.image)
          else
            +unstickyCard(__('courseList.cardAction.gotoDetail'))(hrefStick=`/course/${course.code}/sticky`, href=`/course/${course.code}`,title=course.name, text=`${course.code} / ${course.year} / ${course.period}`, class=course.category.image)
        else
          +card(__('courseList.cardAction.gotoDetail'))(href=`/course/${course.code}`,title=course.name, text=`${course.code} / ${course.year} / ${course.period}`, class=course.category.image)
